.recipeListContainer {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #414141;
    padding: 5px 12px;
}

.recipeListContainer .sub {
    display: flex;
    justify-content: space-between;
}
